# Week 1 handin

## 01 Assignment

#### Create 5 list comprehensions to solve the following 5 problems:

A - Iterate a list of names to return a list of the names starting with H

B - In one line create a list of the numbers 1-100 to the power of 3

C -Iterate a list of names to create a list of tuples where the tuples first value is the length of the name and the second is the name

D - Iterate over each character in a string and get only those that are nummeric

E - Using only a list comprehension wrapped in set() get all possible combination from throwing 2 dice (hint use 2 for loops in a single list comprehension)

#### Create 2 dictionary comprehensions to solve the following:

A - Iterate a list of names and create a dictionary where key is the name and value is the length of the name

B - Iterate a list of numbers and create a dictionary with {key:value} being {number:squareroot_of_number}


#### Extra assignment (This one goes beyond what is covered in the course notebooks. So only do it if you want an extra challenge).

Progammatically using loops create a small program to produce a dictionary with all the 2 dice throw combinations as keys and their likelyhood in percent as values

## 02 Status
I'm done with all the mandatory exercises, havent done exercise 3 yet.

In [1]:
import numpy as np
import math

## Exercise 1

### A

In [4]:
names = list(["Hans","JÃ¸rgen","Lars","Per","Hanne", "Alex"])

new_names = [x for x in names if x.startswith("H")] 
new_names

['Hans', 'Hanne']

### B

In [5]:
numbers = np.power(list(range(1,100)),3)
numbers

array([     1,      8,     27,     64,    125,    216,    343,    512,
          729,   1000,   1331,   1728,   2197,   2744,   3375,   4096,
         4913,   5832,   6859,   8000,   9261,  10648,  12167,  13824,
        15625,  17576,  19683,  21952,  24389,  27000,  29791,  32768,
        35937,  39304,  42875,  46656,  50653,  54872,  59319,  64000,
        68921,  74088,  79507,  85184,  91125,  97336, 103823, 110592,
       117649, 125000, 132651, 140608, 148877, 157464, 166375, 175616,
       185193, 195112, 205379, 216000, 226981, 238328, 250047, 262144,
       274625, 287496, 300763, 314432, 328509, 343000, 357911, 373248,
       389017, 405224, 421875, 438976, 456533, 474552, 493039, 512000,
       531441, 551368, 571787, 592704, 614125, 636056, 658503, 681472,
       704969, 729000, 753571, 778688, 804357, 830584, 857375, 884736,
       912673, 941192, 970299])

### C

In [6]:
names_2 = ["Lars", "Per", "Henrik"]
names_tuple = tuple(x for name in names_2 for x in (name, len(name)))
names_tuple

('Lars', 4, 'Per', 3, 'Henrik', 6)

### D

In [7]:
string_example = "23 katte gik 12 ture"
[int(s) for s in string_example.split() if s.isdigit()]

[23, 12]

### E

In [8]:
roll_combinations = set([(d1, d2) for d1 in range(1, 7) for d2 in range(1, 7)])
roll_combinations

{(1, 1),
 (1, 2),
 (1, 3),
 (1, 4),
 (1, 5),
 (1, 6),
 (2, 1),
 (2, 2),
 (2, 3),
 (2, 4),
 (2, 5),
 (2, 6),
 (3, 1),
 (3, 2),
 (3, 3),
 (3, 4),
 (3, 5),
 (3, 6),
 (4, 1),
 (4, 2),
 (4, 3),
 (4, 4),
 (4, 5),
 (4, 6),
 (5, 1),
 (5, 2),
 (5, 3),
 (5, 4),
 (5, 5),
 (5, 6),
 (6, 1),
 (6, 2),
 (6, 3),
 (6, 4),
 (6, 5),
 (6, 6)}

## Exercise 2

### A

In [9]:
names_dict = dict([(len(name), name) for name in names_2])
names_dict

{4: 'Lars', 3: 'Per', 6: 'Henrik'}

### B

In [15]:
some_numbers = list([10,20,30,40])
numbers_dict = dict([(numbers, math.sqrt(numbers)) for numbers in some_numbers])
numbers_dict

{10: 3.1622776601683795,
 20: 4.47213595499958,
 30: 5.477225575051661,
 40: 6.324555320336759}